@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family:"RetroGaminggg" ;
    src: url(./font/RetroGaming.ttf);
}
@font-face {
    font-family:"Minecraft" ;
    src: url(./font/Minecraft.ttf);
}